! Thanks and credits to https://github.com/sindresorhus/hyperterm-snazzy

! urxvt
URxvt*buffered: true
URxvt*cursorBlink: false
URxvt*underlineColor: yellow
URxvt*font:  xft:inconsolata:size=12:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
URxvt*transparent: true
URxvt*shading: 100
URxvt*fading: 10
!URxvt.perl-ext-common: default,matcher
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.iso14755: False
URxvt.perl-ext-common: default,clipboard
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

URxvt*foreground: #eff0eb
URxvt*background: #282a36
URxvt*cursorColor: #97979b

! Black + DarkGrey
URxvt*color0: #282a36
URxvt*color8: #686868

! DarkRed + Red
URxvt*color1: #ff5c57
URxvt*color9: #ff5c57

! DarkGreen + Green
URxvt*color2: #5af78e
URxvt*color10:#5af78e

! DarkYellow + Yellow
URxvt*color3: #f3f99d
URxvt*color11:#f3f99d

! DarkBlue + Blue
URxvt*color4: #57c7ff
URxvt*color12:#57c7ff

! DarkMagenta + Magenta
URxvt*color5: #ff6ac1
URxvt*color13:#ff6ac1

! DarkCyan + Cyan (both not tango)
URxvt*color6: #9aedfe
URxvt*color14:#9aedfe

! LightGrey + White
URxvt*color7: #eff0eb
URxvt*color15:#f1f1f0
